body{
    font-family: 'Varela Round', sans-serif;
    background-color: blue;   
}

@media screen and (device-aspect-ratio:16/9)
{
    body,container{
        color:blue;
    }
}
@media print{
    body{ 
    width:100%;
    }
}
@media screen and(max-width:520px){
    container{font-size:30px;
        width:400px;
        padding-left: 50px;
    padding-right: 50px;
 }
}

input[type=mail ]{
    width:100%;
    padding: 12px 20px;
    margin:8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}
input[type=mail]:focus{
    background-color: rgb(56, 56, 204);
    color:white;

}
input[type=password]{
    width:100%;
    padding: 12px 20px;
    margin:8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}
input[type=email]:focus{
    background-color: rgb(56, 56, 204);
    color:white;

}

.welcome{ font-size: 30px;
    text-align: center;

}

.btn{
    border-radius:10px;
    float:center;
    text-align: center;
   
}

    .container{
        background-color:#ffffff;
        background-position:center;
        background-size: cover;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top:20px;
        margin-bottom: 15px;
        border-radius: 10px;
        max-width:500px;
        
     
    }


     










































































































































































     































































































     





























































































