
body{
    font-family: 'Varela Round', sans-serif;
    background-color: blue;
    font-weight:bold;   
}

@media screen and (min-width: 500px) and (min-width:900px){}

input[type=mail ]{
    width:100%;
    padding: 12px 20px;
    margin:8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}
input[type=mail]:focus{
    background-color: rgb(56, 56, 204);
    color:white;

}
input[type=password]{
    width:100%;
    padding: 12px 20px;
    margin:8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}
input[type=email]:focus{
    background-color: rgb(56, 56, 204);
    color:white;

}


.login-text{
    margin-top: 20rem;
    margin-bottom:1rem;
    font-weight: 600;
}

.btn{
    border-radius:10px;
    float:center;
    text-align: center;
   
}



    .container{
        background-color:#ffffff;
        background-position:center;
        background-size: cover;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        max-width:70%;
        
     
    }


     































































































     





























































































